<h4 style = 'color: orange'> Real Estate Portugal Index </h4>

In [169]:
import pandas as pd

df = pd.read_csv('portugal_ads_proprieties.csv')

In [170]:
df.head(10)

,Location,Rooms,Price,Area,Bathrooms,Condition,AdsType,ProprietyType
0,"Cortegaça, Ovar, Aveiro",4,2000.0,147.0,4.0,Used,Rent,House
1,"Mozelos, Santa Maria da Feira, Aveiro",2,5000.0,300.0,1.0,NaN,Rent,House
2,"Santa Maria da Feira, Travanca, Sanfins e Esp...",4,1200.0,134.0,2.0,Used,Rent,House
3,"Macinhata do Vouga, Águeda, Aveiro",4,2500.0,236.0,2.0,Renovated,Rent,House
4,"Oiã, Oliveira do Bairro, Aveiro",4,1200.0,240.0,NaN,NaN,Rent,House
5,"Aradas, Aveiro",3,1250.0,200.0,3.0,NaN,Rent,House
6,"Aradas, Aveiro",4,1250.0,82.0,2.0,Renovated,Rent,House
7,"Calvão, Vagos, Aveiro",4,1500.0,320.0,3.0,New,Rent,House
8,"Santa Maria da Feira, Travanca, Sanfins e Esp...",2,700.0,110.0,2.0,Renovated,Rent,House
9,"Lourosa, Santa Maria da Feira, Aveiro",3,740.0,140.0,2.0,Renovated,Rent,House

In [171]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62658 entries, 0 to 62657
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Location       62658 non-null  object
 1   Rooms          62658 non-null  object
 2   Price          61488 non-null  float64
 3   Area           62658 non-null  float64
 4   Bathrooms      50146 non-null  float64
 5   Condition      37533 non-null  object
 6   AdsType        62658 non-null  object
 7   ProprietyType  62658 non-null  object
dtypes: float64(3), object(5)
memory usage: 3.8+ MB

In [172]:
df.columns

Index(['Location', 'Rooms', 'Price', 'Area', 'Bathrooms', 'Condition',
       'AdsType', 'ProprietyType'],
      dtype='object')

In [173]:
new_columns_name = []

for old_names in df.columns:
    name_lowered = old_names.lower()
    new_columns_name.append(name_lowered)

df.columns = new_columns_name

In [174]:
new_columns_snake = {
    'adstype' : 'ads_type',
    'proprietytype' : 'propriety_type'    
}

df.rename(columns = new_columns_snake, inplace= True)

df.columns

Index(['location', 'rooms', 'price', 'area', 'bathrooms', 'condition',
       'ads_type', 'propriety_type'],
      dtype='object')

In [175]:
df.isna().sum()

location              0
rooms                 0
price              1170
area                  0
bathrooms         12512
condition         25125
ads_type              0
propriety_type        0
dtype: int64

In [176]:
df = df.dropna(subset=['price'])

In [177]:
df.isna().sum()

location              0
rooms                 0
price                 0
area                  0
bathrooms         12282
condition         24665
ads_type              0
propriety_type        0
dtype: int64

In [178]:
columns_to_replace = ['condition']

for col in columns_to_replace:
    df[col].fillna('unknown', inplace= True)

C:\Users\Raphael\AppData\Local\Temp\ipykernel_38524\1896506339.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna('unknown', inplace= True)

In [179]:
df.isna().sum()

location              0
rooms                 0
price                 0
area                  0
bathrooms         12282
condition             0
ads_type              0
propriety_type        0
dtype: int64

In [180]:
columns_to_replace_2 = ['bathrooms']

for col in columns_to_replace_2:
    df[col].fillna(1, inplace= True)

C:\Users\Raphael\AppData\Local\Temp\ipykernel_38524\847191296.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(1, inplace= True)

In [181]:
df.isna().sum()

location          0
rooms             0
price             0
area              0
bathrooms         0
condition         0
ads_type          0
propriety_type    0
dtype: int64

In [182]:
df.duplicated().sum()

5397

In [183]:
df = df.drop_duplicates()

In [184]:
df.duplicated().sum()

0

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 56091 entries, 0 to 62654
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   location        56091 non-null  object
 1   rooms           56091 non-null  object
 2   price           56091 non-null  float64
 3   area            56091 non-null  float64
 4   bathrooms       56091 non-null  float64
 5   condition       56091 non-null  object
 6   ads_type        56091 non-null  object
 7   propriety_type  56091 non-null  object
dtypes: float64(3), object(5)
memory usage: 3.9+ MB

<h5 style = 'color: orange'> Area mean values </h5>

In [186]:
def price_m2 (freguesia, operacao):
    df_price_m2 = df.query(f"(location == '{freguesia}') & (ads_type == '{operacao}')")
    area_sum = df_price_m2['area'].sum()
    price_sum = df_price_m2['price'].sum()
    mean_value = price_sum / area_sum
    return mean_value

In [187]:
price_m2(' Aldoar, Foz do Douro e Nevogilde, Porto', 'Rent')

14.938063063063064

In [188]:
price_m2(' Aldoar, Foz do Douro e Nevogilde, Porto', 'Sell')

3022.7165003784617